<div class="container-d">
  <div class="row">
    <div class="col-md-12 margin-bottom">
      <div class="card titlecard">
        <div class="row">
          <div class="col-md-12">
            <h5 class="margin-top" style="margin-bottom: 0">Simulador de redes EON con multiples núcleos</h5>
            <h6>Desfragmentación basada en Machine learning</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" *ngIf="options">
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Tiempo de simulación</span>
              </div>
              <input [(ngModel)]="options.time" type="text" class="form-control">
            </div>
            <div class="row">
              <div class="col-md-6 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Topología</span>
                  </div>
                  <select class="form-control" [(ngModel)]="options.topology">
                    <option value="nsfnet.json">NSFNet</option>
                    <option value="eunet.json">EUNet</option>
                    <option value="Networks.json">Networks</option>
                    <option value="usnet.json">USNet</option>

                  </select>
                </div>
              </div>
              <div class="col-md-6 padding-left">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ancho FS (Ghz)</span>
                  </div>
                  <input [(ngModel)]="options.fsWidth" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-12 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Capacidad (FS's por enlace)</span>
                  </div>
                  <input [(ngModel)]="options.capacity" type="text" class="form-control">
                </div>
              </div>
              <span class="divisoria"></span>
              <div class="col-md-6 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Tráfico máximo (Erlang)</span>
                  </div>
                  <input [(ngModel)]="options.erlang" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6 padding-left">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Lambda</span>
                  </div>
                  <input [(ngModel)]="options.lambda" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-2 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">FS Rango</span>
                  </div>
                </div>
              </div>
              <div class="col-md-3 padding-left">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Min</span>
                  </div>
                  <input [(ngModel)]="options.fsRangeMin" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-3 padding-left">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Max</span>
                  </div>
                  <input [(ngModel)]="options.fsRangeMax" type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Ruteo</span>
                  </div>
                  <select [(ngModel)]="options.routingAlg" class="form-control">
                    <option value="fa">FA</option>
                    <option value="faca">FA-CA</option>
                    <option value="mtlsc">MTLSC</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Cant. Nucleos</span>
                  </div>
                  <select [(ngModel)]="options.cores" class="form-control">
                    <option value=3>3</option>
                    <option value=5>5</option>
                    <option value=7>7</option>
                    <option value=9>9</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 no-padding">
                <div class="input-group margin-top">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Métrica de desfragmentación</span>
                  </div>
                  <select [(ngModel)]="options.metricaDesfrag" class="form-control">
                    <option value=PATH_CONSECUTIVENESS>Path Consecutiveness</option>
                    <option value=ENTROPY>Entropy</option>
                    <option value=MSI>MSI</option>
                    <option value=BFR>BFR</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6 padding-left">
                <button type="button" class="btn btn-des margin-top" (click)="simular()">Simular</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card margin-top resultados-card">
        <div class="row">
          <div class="col-md-4">
            <h5 class="margin-top">Resultados</h5>
          </div>
          <div class="col-md-8 margin-top no-padding padding-right subtittle">
            <span class="right">Total Demandas: sad Total Bloqueos: asd</span>
          </div>
          <div class="col-md-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Tiempo</th>
                  <th scope="col">Dem</th>
                  <th scope="col">Bloq</th>
                  <th scope="col">Entropía</th>
                  <th scope="col">MSI</th>
                  <th scope="col">BFR</th>
                  <th scope="col">LP</th>
                  <th scope="col">PC</th>
                  <th scope="col">E/U</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8" style="padding-left:0">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div id="chartEntropia" class="chart-container"></div>
          </div>
          <div class="col-md-12">
            <div id="chartMsi" class="chart-container"></div>
          </div>
          <div class="col-md-12">
            <div id="chartBFR" class="chart-container"></div>
          </div>
          <div class="col-md-12">
            <div id="chartLightPaths" class="chart-container"></div>
          </div>
          <div class="col-md-12">
            <div id="chartPathConEntropia" class="chart-container"></div>
          </div>
          <div class="col-md-12">
            <div id="chartEntUso" class="chart-container"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
